@page "/ListJobs"
@using Microsoft.AspNetCore.Authorization
@using System.Net
@attribute [Authorize]
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavManager

<PageTitle>List Jobs</PageTitle>

<h3>List Jobs</h3>

@if (_jobs == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <QuickGrid Items="_jobs.AsQueryable()">
        <PropertyColumn Property="j=>j.Title" Sortable="true" Title="Title"></PropertyColumn>
        <PropertyColumn Property="j=>j.Description" Sortable="true" Title="Description"></PropertyColumn>
        <PropertyColumn Property="j=>j.MinSalary" Sortable="true" Title="Minimum Salary"></PropertyColumn>
        <PropertyColumn Property="j=>j.MaxSalary" Sortable="true" Title="Maximum Salary"></PropertyColumn>
        <PropertyColumn Property="j=>j.CreatedOn.ToLocalTime()" Sortable="true" Title="When Created" Format="dd.MM.yyyy"></PropertyColumn>
        <TemplateColumn Title="When Updated">
            @{
                if (@context.ModifiedOn.HasValue)
                {
                    @context.ModifiedOn.Value.ToLocalTime().ToString("dd.MM.yyyy")
                }
            }
        </TemplateColumn>
        <TemplateColumn Title="Actions" Class="hcm-template-column">
            <Tooltip Title="Edit Job">
                <button type="button" class="btn btn-primary" @onclick="@(() => EditJobRedirect(context))"><i class="bi bi-pen-fill"></i></button>
            </Tooltip>
            <Tooltip Title="Delete Job">
                <button type="button" class="btn btn-danger" @onclick="@(() => ConfirmDelete(context))"><i class="bi bi-window-dash"></i></button>
            </Tooltip>
            <Tooltip Title="Show Employees">
                <button type="button" class="btn btn-info" @onclick="@(() => ShowEmployees(context))"><i class="bi bi-people"></i></button>
            </Tooltip>
        </TemplateColumn>
    </QuickGrid>

    if (_jobEmployees != null && _jobEmployees.Any())
    {
        <p class="p-5">
            <h5>@(_jobEmployees.First().Job?.Title) employees</h5>
            <EmployeeList Employees="_jobEmployees"></EmployeeList>
        </p>
    }

    <ToastComponent @ref="_toast" Delay="5000"></ToastComponent>

    <ConfirmDialog ConfirmationChanged="DeleteConfirmed" @ref="DeleteConfirmation"></ConfirmDialog>
}

@code
{
    private ICollection<JobDto>? _jobs;
    private JobDto? _jobDtoToDelete;
    private IQueryable<EmployeeDto>? _jobEmployees;
    private HttpClient? _httpClient;
    private ToastComponent? _toast;

    protected override async Task OnInitializedAsync()
    {
        _httpClient = HttpClientFactory.CreateClient("Api");
        _jobs = await _httpClient.GetFromJsonAsync<ICollection<JobDto>>("/api/v1/Jobs");
    }

    private async Task DeleteConfirmed(bool confirmed)
    {
        if (confirmed && _jobDtoToDelete != null)
        {
            var response = await _httpClient!.DeleteAsync($"/api/v1/Jobs/{_jobDtoToDelete?.Id}");
            try
            {
                response.EnsureSuccessStatusCode();
                _jobs?.Remove(_jobDtoToDelete!);
                var notify = $"Job {_jobDtoToDelete?.Title} has been deleted";
                _toast?.ShowToast(new ToastMessage(notify));
            }
            catch (HttpRequestException e)
            {
                if (e.StatusCode == HttpStatusCode.UnprocessableEntity)
                {
                    var notify = await response.Content.ReadAsStringAsync();
                    _toast?.ShowToast(new ToastMessage(notify));
                }
                else
                    _toast?.ShowToast(new ToastMessage(e.Message));
            }
        }
    }

    private void ConfirmDelete(JobDto job)
    {
        _jobDtoToDelete = job;
        DeleteConfirmation?.Show("Confirm Job Deletion", $"The job {_jobDtoToDelete.Title} will be deleted.");
    }

    private ConfirmDialog? DeleteConfirmation { get; set; }

    private void ShowEmployees(JobDto context)
    {
        if (context.Employees == null) return;

        foreach (var employee in context.Employees)
        {
            employee.Job = context;
        }
        _jobEmployees = context.Employees.AsQueryable();
    }

    private void EditJobRedirect(JobDto job)
    {
        NavManager.NavigateTo($"/EditJob/{job.Id}");
    }

}